$color_main: #FFF3E3; //   Цвет фона New Arrival
$color_main_2: #B88E2F; //  Цвет текста и кнопки New Arrival
$color_main_3: white; //   Цвет текста кнопки Buy Now
$color_link: black; //  Цвет ссылок
$color_font: #3A3A3A; // Цвет текста Body
$color_background: #F4F5F7; //  Цвет фона грид ячеек
$color_font_grid: #B0B0B0; //   Цвет зачеркнутого текста grid
$color_discount: #E97171; //    Цвет скидки
$color_new: #2EC1AC; //     Цвет New
$color_slider: #FCF8F3; //  Цвет фона слайдера
$color_slider_abs: rgb(255,255,255,0.72); //    Цвет фона abs слайдера
$color_font_p: #616161; //  Цвет abs p
$color_border_footer: #9F9F9F; //   Цвет рамки footer
