.item-abs__button {
    cursor: pointer;
    align-items: center;
    position: relative;
    width: 48px;
    height: 48px;
    right: -100%;
    bottom: 0;
    color: white;
    background: $color_main_2;
    border: none;
    h2 {
        margin: 0;
    }
}