.show-more {
    margin: 30px 0;
    background: none;
    border: 2px solid $color_main_2;
    padding: 15px 60px;
    color: $color_main_2;
    cursor: pointer;
    h3 {
        margin: 0;
    }
}